body{
    background-image: url("albumcover.png");
    background-size: cover; 
    color: white;
    margin: 5% 15%;
    font-family: 'Lato', sans-serif;
    font-weight: bold;  
    line-height: 1.4;
    font-size: 13pt;
}
/* add black transparent overlay */

h1{
    font-size: 54pt;
    font-family: 'Pacifico', cursive;
    color: lightcoral;
}
h2{
    font-weight: normal;
}
.chorus{
    font-family: 'Secular One', sans-serif;
    font-size: 14pt;
}