html{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18pt;
}
body{
    margin: 8% 10%;
}
h1{
    font-size: 72pt;
    margin: 2% 0;
    color: #305496;
}
h2{
    color: #3990d8;
}
div{
    text-indent: 2rem;
}
.subheading{
    margin: 0px 0px;
}
section{
    margin: 6% 0;
}
.label{
    font-size: 12px;
    color: #d83a69;
}
p{
    margin-top: 1%; 
}
