
#btn_apple{
    font-size: 90pt;
    line-height: 180pt;
    color: black;
    transition: font-size 0.5s, opacity 1s;
}
#btn_apple:hover {
    font-size: 100pt;
    opacity: 0.2;
}
#btn_lyft{
    color: #FF00BF;
    font-size: 90pt;
    line-height: 180pt;
}
@keyframes lyft {
    from { transform: translateX(5px); }
    33% { transform: translateX(-5px); }
    66% { transform: translateX(5px); }
    to { transform: translateX(-5px); }
  }
    #btn_lyft:hover .fa-lyft::before{
      display: block;
      transform-origin: center;
      animation-name: lyft;
      animation-duration: 0.1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
  }
  .coke{
      text-align: center;
  }
    #bottle{
      width: 30%;
  }
  #coke-logo{
      width: 40%;
  }
  @keyframes coke {
    from { transform: rotate(-6deg); }
    33% { transform: rotate(3deg); }
    66% { transform: rotate(-6deg); }
    to { transform: rotate(3deg); }
  }
#btn_coke:hover #bottle{
    /* display: block; */
    transform-origin: center bottom;
    animation-name: coke;
    animation-duration: 0.1s;
    animation-iteration-count: 3;
    animation-direction: alternate;
}
.ibm-logo{
    width: 90%;
    margin-top: 60px;
}
#btn_ibm{
    font-size: 60pt;
    padding-top: 30px;
    transition: background-color .5s;
}
#btn_ibm:hover{
    background-color: lightblue;
}
#ny-logo{
    width: 50%;
    transition: width 1s;
    margin-top: 80px;
}
#ny-logo:hover{
    width:100%;
}
#oldnavy-logo{
    width: 90%;
    margin-top: 70px;
    transition: transform 2s;
}  
#oldnavy-logo:hover{
    transform: rotateY(360deg);
}  
a{
    text-decoration: none;
}
.dot {
    font-size: 40pt;
    line-height: 150pt;
    font-weight: bold;
    color: #229DF2;
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s, color 0.5s;
  }
  .dot:hover{
    background-color: #229DF2;
    color: white;
  }
#ig-logo{
    width: 40%; 
    transition: transform 0.5s;
}
#ig-text{
    font-size: 20pt;
    color: purple;
    margin:0;
    font-weight: bold;
    transition: font-size 0.5s;
}
#btn_ig:hover #ig-logo{
    transform: rotateZ(360deg);
}
#btn_ig:hover #ig-text{
    font-size: 24pt;
}
#btn_color p{
    font-size: 40pt;
    font-weight: bold;
    margin: 0;
    color: black;
}
#btn_color:hover #the{
    color: #ff3399;
}
#btn_color:hover #color{
    color: #ffff00;
}
#btn_color:hover #run{
    color: #00ccff;
}
#btn_moo img{
    margin-top: 70px;
    width: 80%;
    opacity: 70%;
    transition: width 0.5s, opacity 0.5s;
}
#btn_moo:hover img{
    width: 100%;
    opacity: 100%
}
@keyframes fb {
    from { transform: scale(1.1,1.1); }
    to { transform: scale(.9,.9); }
  }
#btn_fb i{
    font-size: 80pt;
    margin-top: 60px;
    color: #3b5998;
    transition: font-size 1s;
}
#btn_fb:hover i{
    transform-origin: center;
    animation-name: fb;
    animation-duration: .7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes hd {
    50% { transform: translateY(-20px); }
  }
#btn_hd img{
    width: 80%;
    margin-top: 50px;
}
#btn_hd:hover img{
    transform-origin: center;
    animation-name: hd;
    animation-duration: .7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#btn_mk p{
    color: black;
    font-size: 20pt;
    font-weight: bold;
    margin-top: 100px;
    transition: color 1s;
}
#btn_mk:hover p{
    color: white;
}
#btn_mk div{
    background-color: tan;
    z-index: -99;
    position: absolute;
    width: 0px;
    height: 35px;
    margin-top: 100px;
    transition: width 0.7s;
}
#btn_mk:hover div{
    width: 250px;
}
#btn_tesla img{
    width: 80%;
    margin-top: 30px;
    transition: transform 0.5s;
}
#btn_tesla:hover img{
    transform: rotate(360deg);
}
@keyframes cn {
    33% { transform: skew(20deg); }
    66% { transform: skew(-20deg); }
  }
#btn_cn img{
    width: 90%;
    margin-top: 60px;
}
#btn_cn:hover img{
    transform-origin: center;
    animation-name: cn;
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-direction: alternate;
}
#btn_tts img{
    width: 80%;
}
#btn_tts div{
    border-radius: 50%;
    height: 180px;
    width: 180px;
    position: absolute;
    z-index: -1;
    background-color: white;
    transition: background-color 0.7s;
}
#btn_tts:hover div{
    background-color: #6785D0;
}
#btn_samsung img{
    width: 80%;
    margin-top: 90px;
    transition: transform 0.7s;
}
#btn_samsung:hover img{
    transform: skewX(180deg);
}
@keyframes nike {
    50% { transform: translateX(50px); }
  }
#btn_nike img{
    width: 80%;
    transition: transform .1s;
}
#btn_nike:hover img{
    transform-origin: center;
    animation-name: nike;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-direction: alternate;
}
#btn_pm img{
    width: 80%;
    margin-top: 70px;
}
#btn_pm div{
    width: 205px;
    height: 0px;
    margin-left: 25px;
    margin-top: 65px;
    position: absolute;
    z-index: -1;
    background-color: #D6882C;
    transition: height 0.5s;
}
#btn_pm:hover div{
    height: 100px;
}
#btn_jude img{
    width: 80%;
    opacity: 50%;
    margin-top: 50px;
    transition: width 0.7s, opacity 0.7s;
}
#btn_jude:hover img{
    width: 100%;
    opacity: 100%;
}