body{
    background-image: url("albumcover.jpg");
    background-size: cover; 
    color: white;
    margin: 40px 250px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;  
}
p{
    font-size: 16px;
}
h1{
    font-size: 48px;
    color: lightcoral;
}
h2{
    font-weight: normal;
}